.container {
  width: 380px;
  margin: 0 auto;
  padding: 0 15px;
//   @media (min-width: 1200px) {
//     width: 1200px;
//   }
@media (min-width: 320px) {
    width: 320px;
    margin: 0 auto;
  padding: 0 15px;
  }
}