* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 380px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.cv {
  background-color: white;
}

.section-div-h1 {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFA5BA;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .section-div-h1 {
    font-size: 18px;
    line-height: 21px;
  }
}
@media (max-width: 1023px) {
  .section-div-h1 {
    font-size: 26px;
    line-height: 30px;
  }
}

.section-div-p {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #D41443;
  padding-top: 15px;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .section-div-p {
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1023px) {
  .section-div-p {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.04em;
  }
}

.section-div {
  padding-top: 127px;
}
@media (max-width: 767px) {
  .section-div {
    display: flex;
    flex-direction: column;
    padding-top: 127px;
  }
}
@media (max-width: 1023px) {
  .section-div {
    padding-top: 122px;
  }
}

.div-ul {
  display: flex;
}
@media (max-width: 767px) {
  .div-ul {
    width: 767px;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1023px) {
  .div-ul {
    display: flex;
  }
}

.section-div-2 {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}
@media (max-width: 767px) {
  .section-div-2 {
    width: 767px;
  }
}
@media (max-width: 1023px) {
  .section-div-2 {
    padding-top: 140px;
  }
}

.ul-li-img {
  width: 335px;
  height: 335px;
  position: absolute;
  top: 250px;
}
@media (max-width: 767px) {
  .ul-li-img {
    width: 249px;
    height: 252px;
    top: 290px;
  }
}
@media (max-width: 1023px) {
  .ul-li-img {
    width: 220px;
    height: 226px;
  }
}

.div-ul-li1 {
  width: 359px;
  padding-right: 24px;
}
@media (max-width: 767px) {
  .div-ul-li1 {
    width: 280px;
    height: 485px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 500px;
  }
}
@media (max-width: 1023px) {
  .div-ul-li1 {
    width: 220px;
    margin-right: 20px;
  }
}

.div-ul-li2 {
  width: 359px;
  padding-right: 24px;
}
@media (max-width: 767px) {
  .div-ul-li2 {
    width: 280px;
    height: 485px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 500px;
  }
}
@media (max-width: 1023px) {
  .div-ul-li2 {
    width: 220px;
  }
}

.div-ul-li3 {
  width: 335px;
  border-radius: 24px;
}
@media (max-width: 767px) {
  .div-ul-li3 {
    width: 280px;
    height: 485px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 500px;
  }
}
@media (max-width: 1023px) {
  .div-ul-li3 {
    width: 220px;
    margin-left: 20px;
  }
}

.ul-li-div {
  border-radius: 24px;
  background-color: #FFB8CA;
}
@media (max-width: 767px) {
  .ul-li-div {
    width: 280px;
    height: 485px;
  }
}
@media (max-width: 1023px) {
  .ul-li-div {
    width: 220px;
    height: 485px;
  }
}

.ul-li-div1 {
  border-radius: 24px;
  background-color: #F0D1A5;
}
@media (max-width: 767px) {
  .ul-li-div1 {
    width: 280px;
    height: 485px;
  }
}
@media (max-width: 1023px) {
  .ul-li-div1 {
    width: 220px;
    height: 485px;
  }
}

.ul-li-div2 {
  border-radius: 24px;
  background-color: #C2E297;
}
@media (max-width: 767px) {
  .ul-li-div2 {
    width: 280px;
    height: 485px;
  }
}
@media (max-width: 1023px) {
  .ul-li-div2 {
    width: 220px;
    height: 485px;
  }
}

.ul-li-h2 {
  padding-top: 178px;
  padding-bottom: 32px;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .ul-li-h2 {
    padding-top: 161px;
    font-size: 20px;
    line-height: 23px;
  }
}
@media (max-width: 1023px) {
  .ul-li-h2 {
    padding-top: 152px;
    padding-bottom: 30px;
    padding-right: 23px;
    padding-left: 22px;
    font-size: 20px;
    line-height: 23px;
  }
}

.ul-li-p1 {
  padding-right: 44px;
  padding-left: 44px;
  padding-top: 32px;
  padding-bottom: 62px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .ul-li-p1 {
    font-size: 14px;
    line-height: 152%;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
  }
}
@media (max-width: 1023px) {
  .ul-li-p1 {
    font-size: 14px;
    line-height: 176%;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 11px;
    padding-right: 11px;
  }
}

.img {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  display: block;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .img {
    width: 40px;
  }
}
@media (max-width: 1023px) {
  .img {
    width: 40px;
    padding-bottom: 40px;
  }
}

.ul-li-img2 {
  display: block;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .ul-li-img2 {
    width: 26px;
    height: 6px;
  }
}
@media (max-width: 1023px) {
  .ul-li-img2 {
    width: 26px;
    height: 6px;
  }
}

.ul-li-span {
  display: none;
}
@media (max-width: 767px) {
  .ul-li-span {
    display: block;
  }
}

.li-div-div2 {
  display: flex;
  justify-content: center;
}